* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*             Header          */

.Container {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.arrowLeft {
    width:0;
    height:0;
    visibility: hidden;
}

.Logo {
    display: flex;
    width: 225.23px;
    height: 48px;
    margin-left: 40px;
    margin-right: 124.77px;
    align-items: center;
    justify-content: space-between;

}

.Logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*             Header itens        */

.Inputs {
    display: flex;
    gap: 24px;
    margin-right: 40px;
}

select{
    border: none;
}

.Select {
    background-color: white;
    width: 230px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 4px 0px 8px;
    gap: 2px;
    
}

.Delivery {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #D80000;
}

.Street {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #656363;
}

.Arrow {
    display: flex;
    justify-content: flex-end;
    padding-right: 8.3px;
}


.Input {
    width: 354px;
    height: 48px;
    border-color: red;
    border-radius: 4px;
    border: 1px red solid;
    
}

.Input2 {
    height: 0;
    width: 0;
    visibility: hidden;
    border-color: red;
    border-radius: 4px;
    border: 1px red solid;
}
.Input2::placeholder{
    font-family: Roboto;
    font-weight: 400;
    padding-left: 16.25px;
    padding-right: 18.75px;
}

.Input::placeholder{
    font-family: Roboto;
    font-weight: 400;
    padding-left: 16.25px;
    padding-right: 18.75px;
}

.User {
    display: flex;
    gap: 8px;
    align-items: center;
    
}
.User p {
    color: #ED3237;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

#Circle {
    margin-left: 18px;

    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F09035;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    }

.Circle{
    position:relative;
    margin-bottom: 34px;
}

.Car {
    position: absolute;
}

/*             Conteúdo principal        */

main {
    width: 100%;
    display: flex;
    justify-items: center;
    gap: 112px;
    margin-top: 24px;
    padding: 0 43px 0 43px;
}

.Offer {
    width: 597px;
    height: 662px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px;
    gap: 32px;
    object-fit: contain;
}

.Offer h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.Offer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
}

.Price {
    display: flex;
    gap: 17px;
}

.colorGray {
    color: #4E4E4E;
    width: 49%;
}

.Price h1:first-child {
    color: #DC6E05;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

.Price h1:last-child{
    text-decoration: line-through;
    color: #4E4E4E;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}


/*             Acompanhamentos        */
.Nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #686868;
    width: 439px;
    height: 662px;
    border-radius: 8px;
    padding: 32px;  
}

.Requests {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 537px;
}

.Requests header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 55px;
    background: rgba(253, 215, 14, 0.2);
    padding-left: 6%;
    gap: 6px;
}

.Requests header span:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #4E4E4E;
}

.Requests header span:last-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #E49700;
}

.Item {
    height: 89px;
    display: flex;
    align-items: center;
    margin-top: 16px;
   
}

.Item .Value {
    padding-left: 6%;
    display: flex;
    width: 243.16px;
    height: 72px;
    flex-direction: column;
    justify-content: space-between;
}

.Additionals {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    color: #4E4E4E;    
}

.Values {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #F09035;
}

.Quantity{
    width: 89px;
    height: 32px;
    border: 1px solid #F09035;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
}

.Quantity button {
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

hr {
    width: 94%;
    border: 1px solid #E8A634;
    margin-left: 6%;
}


.Utensils {
    width: 375px;
    height: 55px;
    background: rgba(253, 215, 14, 0.2);
    padding: 8px 0 16px 16px;
    margin-top: 4%;
}
.Utensils p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #4E4E4E;
}
.Radio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 0;
    visibility: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4E4E4E;
}
.Ask {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.Ask1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#radiobox1 {
    background: yellow;
    border-color: red;
}

.Increase {
    display: flex;
    width: 375px;
    height: 55px;
    margin-top: 21px;
    gap: 16px;
}

.Increase .Quantity{
    width: 140px;
    height: 40px;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 40px;
    background: #F09035;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/*             PopOver      */

.modalOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.modalOverlay.active{
    transition: all ease .8s;
    opacity: 1;
    visibility: visible;
}


.modal {
    background: #f0f2f5;
    width: 210px; 
    height: 180px;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.modalHeader{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 10% 3%;
    color: white;
    background-color: #F09035;
}
.modalHeader h2 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.modalMain {
    display: flex;
    flex-direction: column;
    padding: 8px 11px 8px 11px;
}

.h3Modal, .pModal {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;        
    color: #4E4E4E;
}


.offerBacon {
    display: flex;
    flex-direction: column;

    width: 186px;
    height: 14px;
    gap: 4px;
}

.offerBacon h3 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color:  #BC2E31;
}
.offerBacon p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: black;
}
ul {
    padding-left: 11px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: black;
}

#Triangle {
        margin-top: 80px;
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid  #F09035;
}

